@Model MongoWeb.Models.LoginViewModel

@{
    @ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<section>
    <div class="container" data-padding-top="62">
        <h4 class="fz-24 mb-25">Log in to your account</h4>
        <div class="row">
            @*<a href="~/Views/Home/Login.cshtml">~/Views/Home/Login.cshtml</a>*@
            <div class="col-12">
                <div class="login-form-content">
                    <div class="login-form">
                        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group row">
                                <label class="col-md-3" for="frm_email">Email</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "frm_email", placeholder = "Enter your email" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3" for="frm_pass">Password</label>
                                <div class="col-md-6">
                                    <div class="pass-content">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "frm_pass", placeholder = "Enter your password" })
                                        <span class="show-pass" onclick="togglePasswordVisibility()">Show</span>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row mb-15">
                                <div class="col-12 text-center">
                                    <a class="btn-forgot" href="#">Forgot your password?</a>
                                    <input type="submit" class="btn-signin" value="Sign in" />
                                </div>
                            </div>
                        }
                    </div>
                    <a class="btn-create-account" href="@Url.Action("Register", "Home")">No account? Create one here</a>
                </div>
            </div>
        </div>
    </div>
</section>
