@model MongoWeb.Models.Users
@{
    ViewBag.Title = "DeleteUser";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h3>Xóa User</h3>
        </div>
    </div>
    @using (Html.BeginForm("DeleteUser", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row my-2">
            <div class="col-2"></div>
            <div class="col-6">
                <label asp-for="Username">UserName</label>
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row my-2">
            <div class="col-2"></div>
            <div class="col-6">
                <label asp-for="FullName">FullName</label>
                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row my-2">
            <div class="col-2"></div>
            <div class="col-6">
                <label asp-for="Email">Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row my-2">
            <div class="col-2"></div>
            <div class="col-6">
                <label asp-for="Password">Mật khẩu</label>
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @readonly = "readonly", type = "password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row my-2">
            <div class="col-2"></div>
            <div class="col-6">
                <label asp-for="PhoneNumber">Số điện thoại</label>
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row my-2">
            <div class="col-2"></div>
            <div class="col-6">
                <label asp-for="Address">Địa chỉ</label>
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row my-2">
            <div class="col-2"></div>
            <div class="col-6">
                @Html.HiddenFor(m => m.UserId)
                <input type="submit" class="btn btn-danger" value="Xóa User" />
                <a href="@Url.Action("QuanLyUser", "Admin")" class="btn btn-warning">Quay lại</a>
            </div>
        </div>
    }
</div>

